/*
Custom CSS

COLORS
Red      - #d22027
Dark Red - #8a0d12

1.  Basic Styles
2.  Basic Structure
3.  Navigation
4.  Big Icons
5.  Small Icons
6.  Home Page
7.  About Page
8.  How It Works Page
9.  Single Show & BX Slider
10. Sidebar
11. Media Queries

*/

/*-----------------------*/
/*--- 1. Basic Styles ---*/
/*-----------------------*/

body {
    background: #fff;
    font-family: 'Open Sans', Helvetica, sans-serif;
	font-size: 14px;
	box-sizing: border-box;
	width: 100%;
}

#content {
	font-size: 14px;
}

.container-fluid {
	position: relative;
}

.mobileNavBg {
	padding-top: 6px;
	z-index: 100;
	background-color: #101010;
}

h1.showTitle {
	font-size: 36px;
}

h4 {
	color: #313131;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}

h5 {
	color: #313131;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 700;
	text-transform: capitalize;
}

p {
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-size: 15px;
	letter-spacing: 1px;
	line-height: 155%;
	color: #101010;
}

ul li, ol li {
	letter-spacing: 1px;
}

hr.grey {
	margin-top: 30px;
	margin-bottom: 30px;
	border: 0;
	border: 1px solid #ccc;
}

a {
	color: #d22027;	
}

/*-----------------------*/
/*--2. Basic Structure --*/
/*-----------------------*/

.homeContent {
	background-color: #fff;
}

.mainContent {
	background-color: #fff;
	padding: 60px 0;
}

.innerContent {
	padding: 30px 0;
}

.howItWorks {
	background-color: #fff;
	padding: 0;
}

.contentArea {
	background-color: #fff;
	min-height: 450px;
	margin: -34px 0 60px 0;
}

/*--- Remove Default Margins from Bootstrap col-* ---*/
.zeroMargin {
	padding-left: 0;
	padding-right: 0;
}


/*--- Text Variables ---*/
.white {
	color: #fff;
}

.black {
	color: #313131;
}

.centerText {
	text-align: center;
}

.justifyText {
	text-align: justify;
}

.uppercase {
	text-transform:uppercase;
}

.right {
	text-align: right;
}

.borderBottom {
	padding-bottom: 60px;
	margin-bottom: 60px;
	border-bottom: 1px solid #101010;
}

.greyBg {
	background-color: #ebebeb;
}


/* Edit Default "Burger" Menu for smaller screens */
.navbar-toggle {
	border-radius: 0px;
	border-width: 2px;
}
.navbar-default .navbar-toggle {
	background-color: #000;
	border-color: #d22027;
}
.navbar-default .navbar-toggle:hover {
	background-color: #8a0d12;
	transition: background-color 0.5s ease-out;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #d22027;
}

.navbar-default .navbar-toggle:focus {
	background-color: #ccc;
}


/*--- Edit Default Bootstrap Button Styles ---*/

.rectangleBtn {
	border-radius: 0px;
	border: 0;
	background-color: #252525;
	text-shadow: 0;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	padding: 6px 36px;
}

.btn-default {
	text-shadow: 0 0 0;
}

.btn:hover {
	background-color: #555;
	color: #fff;
	text-shadow: 0;
}

/*---------------------------------------*/
/*--3. Navigation - Top Bar - Desktop ---*/
/*---------------------------------------*/
.topBar {
    max-height: 70px;
    background: #101010;
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}

.whiteBar {
	max-height: 70px;
	background-color: #ffffff;
	height: 60px;
	color: #313131;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0;
	z-index: 0;
}

#navbar {
	width: 36%;
	float: left;
	letter-spacing: 2px;
	height: 60px;
}

.navbar-default .navbar-nav > li > a.active {
	background: none;
	border-top: 4px solid #d22027;
	padding-top: 17px;
	margin-top: -6px;
}

.navbar-default {
	margin-left: 0;
	padding-right: 0;
	background: #101010;
	border-radius: 0;
    border: 0;
}

.navbar-brand, .navbar-nav > li > a {
	text-shadow: none;
	font-weight: 700;
	font-size: 12px;
	color: #ffffff !important;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
	margin-left: auto;
}

.branding > a {
	position: absolute;
	top: -15px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width: 162px;
	z-index: 100;
	float: left;
}

.branding > a > img {
	max-width: 100%;
	display: block;
}

.headerRight {
	float: right;
	display: block;
	
	padding-top: 18px;
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 300;
	font-size: 14px;
	text-align: right;
	letter-spacing: 1px;
}

.filterHeader,
.filterHeaderRight {
	position: relative;
	padding-top: 18px;
	text-align: center;
}

.filterHeader > .filterArrow {
	position: absolute;
	background-image: url(../img/filterArrow.png);
	height: 25px;
	width: 58px;
	left: 48%;
	bottom: -42px;
}

.filterHeaderRight > .filterArrow {
	position: absolute;
	background-image: url(../img/filterArrow.png);
	height: 25px;
	width: 58px;
	right: 46%;
	bottom: -42px;
}

.filterHeaderRight {
	padding-left: 5%;
}

.howToFilters {
	margin-right: 0;
	margin-left: 0;
	background: rgb(50, 50, 50);
    background: rgba(50, 50, 50, .9);
}




/*--- Hero - Home Page ---*/

.hero {
    background-image: url(../img/heroBg.jpg);
	background-size: cover;
	min-height: 560px;
}

/*--- Hero - Inner Page ---*/
.heroSmall {
	position: relative;
    background-image: url(../img/heroBg.jpg);
	background-size: cover;
	background-position: center bottom;
	min-height: 350px;
	height: auto;
	padding: 100px 0 0;
}

.heroSmall h4 {
	font-size: 34px;
}

/* Text Controls to increase/decrease font size */
.textControls {
	/* Structure */
	position: absolute;
	bottom: -18px;
	right: 20%;
	background-color: #464646;
	height: auto;
	width: 186px;
	border-radius: 9px;
	
	/* Style */
	color: white;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 1px;
	padding: 6px 12px;
	z-index: 100;
}

.textSize {
	margin-right: 6px;
}

.increase,
.decrease,
.reset {
	padding: 6px 4px;
	height: 24px;
	width: 24px;
	transition: all .3s ease-in-out;
}

/*-----------------------*/
/*-----4. Big Icons -----*/
/*-----------------------*/


.filterBtn {
	margin-top: 50px;
	list-style: none;
	text-align: center;
}

.filterBtn > .col-sm-4 > .btn-default {
	height: 150px;
	width: 100%;
	margin: 8% auto;
}

.filterBtn > .col-sm-4 > .btn-default:hover,
.filterBtn > .col-sm-4 > .btn-default.selected {
	background-color: #d22027;
}

.btnIcons {
	position: relative;
	padding-top: 82%;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 11px;
	font-weight: 700;
	letter-spacing: 0.5px;
	text-align: center;
	text-shadow: none;
	border: transparent;
	border-radius: 8px;
	background-repeat: no-repeat;
	-webkit-transition: background 0.3s ease-in-out;
  	-moz-transition: background 0.3s ease-in-out;
  	-o-transition: background 0.3s ease-in-out;
  	transition: background 0.3s ease-in-out;
}

.btnIcons:hover,
.btnIcons.selected {
	color: #ffffff;

}

.wheelchair {
	background-image: url(../img/icon-wheelchairGrey.png);
	background-position: 36px 16px;
}

.wheelchair:hover,
.wheelchair.selected {
	background-image: url(../img/icon-wheelchair.png);
	background-position: 36px 20px;
}

.hearing {
	background-image: url(../img/icon-hearingGrey.png);
	background-position: 32px 10px;
}

.hearing:hover,
.hearing.selected {
	background-image: url(../img/icon-hearing.png);
	background-position: 32px 14px;
}

.captioning {
	background-image: url(../img/icon-captioningGrey.png);
	background-position: 21px 38px;
}

.captioning:hover,
.captioning.selected {
	background-image: url(../img/icon-captioning.png);
	background-position: 21px 42px;
}

.signing {
	background-image: url(../img/icon-signingGrey.png);
	background-position: 28px 20px;
}

.signing:hover,
.signing.selected {
	background-image: url(../img/icon-signing.png);
	background-position: 28px 24px;
}

.autism {
	background-image: url(../img/icon-autismGrey.png);
	background-position: 42px 24px;
}

.autism:hover,
.autism.selected {
	background-image: url(../img/icon-autism.png);
	background-position: 42px 28px;
}

.audio {
	background-image: url(../img/icon-audioGrey.png);
	background-position: 10px 38px;
}

.audio:hover,
.audio.selected {
	background-image: url(../img/icon-audio.png);
	background-position: 10px 42px;
}

/* Filter Reset Button */
.isotope-reset {
	position: absolute;
	right: -242%;
	top: 18px;
	padding: 8px 24px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 11px;
	font-weight: 400;
	letter-spacing: 1px;
	text-align: center;
	text-shadow: none;
	background-color: #212121;
	border: 1px solid #fff;
	color: #fff;
}

/*-----------------------*/
/*----5. Small Icons ----*/
/*-----------------------*/

.iconsContainer {
	
	width: 100%;
	display: block;
	float: left;
	margin: 12px 0 24px;
}

.filterIcons {
	height: 40px;
	width: 15%;
	margin-right: 2%;
	float: left;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-repeat: no-repeat;
	text-indent: -9999px;
	-webkit-transition: background 0.3s ease-in-out;
  	-moz-transition: background 0.3s ease-in-out;
  	-o-transition: background 0.3s ease-in-out;
  	transition: background 0.3s ease-in-out;
}

.filterIcons:hover {
	background: #d22027;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-repeat: no-repeat;
	text-indent: -9999px
}

.filterIcons:last-of-type {
	margin-right: 0;
}

.wheelchairSmall {
	background-image: url(../img/icon-wheelchairGrey.png);
	background-size: 60% 80%;
	background-position: 40% 50%;
}

.wheelchairSmall:hover {
	background-image: url(../img/icon-wheelchair.png);
	background-size: 60% 80%;
	background-position: 40% 35%;
}

.hearingSmall {
	background-image: url(../img/icon-hearingGrey.png);
	background-size: 60% 80%;
	background-position: 50% 40%;
}

.hearingSmall:hover {
	background-image: url(../img/icon-hearing.png);
	background-size: 60% 80%;
	background-position: 50% 25%;
}

.captioningSmall {
	background-image: url(../img/icon-captioningGrey.png);
	background-size: 70% 70%;
	background-position: 40% 50%;
}

.captioningSmall:hover {
	background-image: url(../img/icon-captioning.png);
	background-size: 70% 70%;
	background-position: 40% 35%;
}

.signingSmall {
	background-image: url(../img/icon-signingGrey.png);
	background-size: 80% 80%;
	background-position: 50% 40%;
}

.signingSmall:hover {
	background-image: url(../img/icon-signing.png);
	background-size: 80% 80%;
	background-position: 50% 25%;
}

.autismSmall {
	background-image: url(../img/icon-autismGrey.png);
	background-size: 60% 70%;
	background-position: 50% 40%;
}

.autismSmall:hover {
	background-image: url(../img/icon-autism.png);
	background-size: 60% 70%;
	background-position: 50% 25%;
}

.audioSmall {
	background-image: url(../img/icon-audioGrey.png);
	background-size: 80% 60%;
	background-position: 50% 50%;
}

.audioSmall:hover {
	background-image: url(../img/icon-audio.png);
	background-size: 80% 60%;
	background-position: 50% 35%;
}


/*--- Filter Calendar with Date Picker ---*/
/* Old Style
.filterCalendar {
	margin-top: 62px;
	border-radius: 8px;
	background-color: #ffffff;
	min-height: 324px;
	height: auto;
	padding: 60px 15px;
}


#filterDates > li {
	width: 50%;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 11px;
	font-weight: 700;
	letter-spacing: 1px;
	text-align: center;
	text-shadow: none;
}


.nav-tabs > li > a:hover,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a,
.nav-tabs > li > a,
.nav-tabs > li {
	margin-right: 0;
	margin-bottom: 0;
	border: 0;
	border-color: transparent;
}

.datePicker,
.datePicker:hover,
.datePicker:active {
	border-radius: 8px 0 0 0;
}

.singleDate,
.singleDate:hover, 
.singleDate:active {
	border-radius: 0 8px 0 0;
}

.singleDate:hover {
	background-color: #313131;
}

.singleDate {
	background-color: #272727;
}

.singleDate > a {
	color: #ffffff;
}

.tab-pane {
	padding: 20px;
}
*/

/*.filterButton,*/
.filterResults {
	display: block;
	margin: 94px auto 0;
	padding: 12px 36px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	font-weight: 700;
	text-align: center;
	text-shadow: none;
}

.filterResults {
	display: block;
	background-color: #272727;
	color: #ffffff;
	font-size: 16px;
	letter-spacing: 1px
}

.filterResults 	> span {
	color: #d22027;
}


/*-----------------------*/
/*---6. Home Styles -----*/
/*-----------------------*/
.mediaBlock {
	margin-top: 24px;
	display: block;
	border-radius: 8px;
	background-color: #f1f0f0;
}

.imgBlock {
	display: block;
	text-align: center;
}

.imgBlock > img {
	max-width: 70%;
}

.showImg > img {
	border-radius: 8px 8px 0 0;
	width: 100%;
}

.showInfo {
	padding: 10px 30px;
	margin-bottom: 32px;
	display: block;
}

.showMore a {
	display: block;
	clear: both;
	width: 100%;
	border-radius: 0 0 8px 8px;
	background-color: #272727;
	color: #ffffff;
	padding: 10px 36px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	font-weight: 700;
	text-align: center;
}

.showTitle {
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: bold;
	line-height: 90%
}

.showLocation {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
}

footer {
	width: 100%;
	background-image: url(../img/heroBg.jpg);
	background-position: center bottom;
	padding-top: 20px;
	padding-bottom: 70px;
}

.leftFooter img {
	margin-right: 20px;
}

.rightFooter {
	position: relative;
}

footer h4 {
	color: #ffffff;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	font-weight: 700;
	margin-top: 30px;
	margin-bottom: 15px;
}

footer p {
	color: #ffffff;
	font-size: 12px;
	font-style: italic;
	font-weight: 100;
	letter-spacing: 1px;
	margin-bottom: 50px;
}

footer .copyright {
	position: absolute;
	bottom: -260px;
	right: 0;
	color: #ffffff;
	text-align: right;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 10px;
	font-style: normal;
	letter-spacing: 1px;
}


/* Date Picker/Range Picker Styles */

#reportrange,
#singledate {
	position: relative;
	background: #d22027;
	float: left;
	cursor: pointer;
	color: #ffffff;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-style: normal;
	padding: 12px 24px;
	border-radius: 8px;
}

#dateRange i,
#singleDate i {
	color: #d22027;
	font-size: 32px;
	line-height: 125%;
	float: right;
}

#dateRange p,
#singleDate p {
	color: #272727;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-style: normal;
	padding: 12px 24px;
}

#Date {
	cursor: pointer;
	display: block;
	float: left;
}

#singleDate input {
	background-color: transparent;
	border: 0;
}

.range_inputs .btn-primary {
	background-color: #d22027;
	border: 0;
}

.searchShows {
	position: absolute;
	left: 0;
	right: 0;
	top: 260px;
	width: 200px;
	background: #212121;
	color: #ffffff;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 1px;
	margin: 0 auto;
	padding: 8px auto;
	border-radius: 8px;
}


/* New Calendar 2.0 */

.filterCalendar {
	margin-top: 62px;
	border-radius: 8px;
	background-color: #ffffff;
	min-height: 324px;
	height: auto;
	padding: 30px 30px 0;
}

.filterCalendar > .header {
	color: #313131;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	padding: 12px 0 32px;
}

.dateBtn {
	width: 100%;
	text-align: center;
	background: #f5f6f6;
	cursor: pointer;
	color: #313131;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	font-weight: 400;
	padding: 6px;
	border-radius: 8px;
	border: 0px;
	
	-webkit-transition: background 0.3s ease-in-out;
  	-moz-transition: background 0.3s ease-in-out;
  	-o-transition: background 0.3s ease-in-out;
  	transition: background 0.3s ease-in-out;
}

.dateBtn a {
	color: #313131;
}

.dateBtn:hover {
	background: #d22027;
	color: #ffffff;
}

.dateBtn a:hover {
	text-decoration: none;
	color: #fff;
}

.dateCustom {
	width: 95%;
	margin: 5% 15px 0;
	text-align: center;
	background: #d22027;
	cursor: pointer;
	color: #ffffff;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	letter-spacing: 1px;
	font-style: normal;
	padding: 8px;
	border-radius: 8px;
	border: 0px;
	
	-webkit-transition: background 0.3s ease-in-out;
  	-moz-transition: background 0.3s ease-in-out;
  	-o-transition: background 0.3s ease-in-out;
  	transition: background 0.3s ease-in-out;
}

.viewCalendar {
	width: 95%;
	margin: 5% 15px;
	text-align: center;
	background: #f5f6f6;
	cursor: pointer;
	color: #313131;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	letter-spacing: 1px;
	font-style: normal;
	padding: 8px;
	border-radius: 8px;
	border: 0px;
	
	-webkit-transition: background 0.3s ease-in-out;
  	-moz-transition: background 0.3s ease-in-out;
  	-o-transition: background 0.3s ease-in-out;
  	transition: background 0.3s ease-in-out;
}

.viewCalendar > img {
	margin-right: 22px;
}

/*-------------------------------------*/
/*-----------7. ABOUT PAGE ------------*/
/*-------------------------------------*/

.borderBottom img {
	margin-top: 14px;
}


/*-------------------------------------*/
/*-------8. HOW IT WORKS PAGE ---------*/
/*-------------------------------------*/

.gridContent {
	position: relative;
	padding: 30px 0;
	text-align: center;
	width: 100%;
	height: 460px;
}

.gridImg {
	display: block;
	width: 100%;
	height: 200px;
}

/* Icons */
.gridImg > img {
	position: absolute;
	top: 30px;
	left: 0;
	right: 0;
   	margin: auto;
	max-width: 40%;
}

.wideIcon > img {
	max-width: 60%;
	top: 50px;
}

.gridContent p {
	font-size: 14px;
}


/*-------------------------------------*/
/*----- 9. Single Show & BX Slider ----*/
/*-------------------------------------*/

.rightSideLinks {
	padding-right: 20px;
}

.homeLink a {
	color: #313131;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	transition: color 0.3s linear;
}

.homeLink a:hover {
	color: #d22027;
	text-decoration: none;
}

.homeLink > a:before {
	content: "\003C";
	padding-right: 12px;
}

.pagination {
	background-color: #313131;
	display: block;
	border-radius: 0px;
	padding: 6px 12px;
	margin-right: -15px;
}

.pagination a {
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #fff;
	transition: color 0.3s linear;
}

.pagination a:hover {
	color: #d22027;
	text-decoration: none;
}

.prevLink {
	float: left;
}

.prevLink:before {
	content: "\003C";
	padding-right: 12px;
	margin-left: 12px;
}

.nextLink {
	float: right;
}


.nextLink:after {
	content: "\003E";
	padding-right: 12px;
	margin-left: 12px;
}

.bx-wrapper .bx-controls-direction a {
	margin-top: -35px;
	width: 33px;
	height: 70px;
}

.bx-wrapper .bx-prev {
	background: url(../img/previousArrow.png) no-repeat 0 0; 
}

.bx-wrapper .bx-next {
	right: 20px;
	background: url(../img/nextArrow.png) no-repeat 0 0; 
}

.bx-wrapper .bx-next:hover {
	background-position: 0 0;
}

/* --- Social Sharing --- */

.socialBorder {
	border-right: 1px solid #000;
	height: auto;
}

.socialSharing > a {
	display: block;
	text-indent: -9999px;
	background-repeat: no-repeat;
	margin: 20px auto;
}

.socialSharing > .facebook {
	background-image: url(../img/facebook.png);
	background-size: 18px 36px;
	width: 18px;
	height: 36px;
}

.socialSharing > .facebook:hover {
	background-image: url(../img/facebookRed.png);
}

.socialSharing > .twitter {
	background-image: url(../img/twitter.png);
	background-size: 45px 31px;
	width: 45px;
	height: 31px;
	
}

.socialSharing > .twitter:hover {
	background-image: url(../img/twitterRed.png);
}

.socialSharing > .youtube {
	background-image: url(../img/youtube.png);
	background-size: 36px 43px;
	width: 36px;
	height: 43px;
	
}

.socialSharing > .youtube:hover {
	background-image: url(../img/youtubeRed.png);
}

.socialSharing > .googleplus {
	background-image: url(../img/googleplus.png);
	background-size: 35px 33px;
	width: 35px;
	height: 33px;
	
}

.socialSharing > .googleplus:hover {
	background-image: url(../img/googleplusRed.png);
}

/*-------------------------------------*/
/*--10. Sidebar Styles (SINGLE SHOW) --*/
/*-------------------------------------*/

/*
Aside BG Color: #f1f0f0
Sidebar Heading BG: #555555; 
*/

aside {
	background: #f1f0f0;
}


/* Individual Areas of Sidebar*/
.sideBlock {
	margin: 32px 0;
}

.sidebarHeader {
	background: #555555;
	padding: 6px 0;
	margin-bottom: 24px;
}

.sidebarSubHeader {
	background: #555555;
	text-align: left;
	padding: 1px 0;
	margin 24px 0;
}

.sidebarContainer {
	width: 86%;
	display: block;
	float: left;
	margin: 0 7%;
}


/*-------------------------------------*/
/*-----11. Isotope Transitions --------*/
/*-------------------------------------*/

.isotope-item { 
  z-index: 2; 
} 
  
.isotope-hidden.isotope-item { 
  pointer-events: none; 
  z-index: 1; 
} 
  
.isotope, 
.isotope .isotope-item { 
-webkit-transition-duration: 0.8s; 
   -moz-transition-duration: 0.8s; 
        transition-duration: 0.8s; 
} 
  
.isotope { 
-webkit-transition-property: height, width; 
   -moz-transition-property: height, width; 
        transition-property: height, width; 
} 
  
.isotope .isotope-item { 
-webkit-transition-property: -webkit-transform, opacity; 
   -moz-transition-property:    -moz-transform, opacity; 
        transition-property:         transform, opacity; 
}


/*-------------------------------------*/
/*---------12. Media Queries ----------*/
/*-------------------------------------*/

/*
XS: 0 - 460px
Sm: 461px - 767px
Md: 768px - 991px
Lg: 992px - 1199px
XL: 1200px +
*/


/* XS Devices, Landscape Phone & Down */
@media only screen and (max-width: 460px) {
	
	.heroSmall h4 {
		font-size: 24px;
	}
	
	#navbar {
		margin-top: 0;
		width: 110%;
		float: right;
		height: 130px;
		text-align: right;
		z-index: 50;
	}
	
	.navbar-nav {
		margin: 0px -15px;
	}
	
	.headerRight {
		width: 70%;
	}
	
	.mobileNavBg {
		padding-bottom: 8px;
	}
	
	.headerRight p {
		font-size: 10px;
		letter-spacing: 0;
	}
	
	.howToFilters {
		margin-top: 10px;
	}
	
	#reportrange,
	#singledate {
		font-size: 8px;
	}
	
	/* Icons */
	.btnIcons > span {
		font-size: 8px;
	}
	
	.gridImg > img {
		max-width: 40%;
	}

	.wideIcon > img {
		max-width: 50%;
	}
	
	.rectangleBtn {
		font-size: 12px;
		padding: 6px 16px;
	}
	
	.leftFooter img {
		margin: 8px 0;
	}

}

/* Sm Devices, Portrait Phone & Down */
@media only screen and (max-width: 767px) {
	
	.topBar > .container {
		padding-left: 0;
		padding-right: 0;
	}
	
	.mainContent h4 {
		text-align: center;
	}
	
	.justifyText {
		padding: 0;
	}
	
	/* Header Adjustments for Mobile */
	.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
		margin-left: 0;
	}
	
	.branding > a {
		position: absolute;
		top: -15px;
		left: -15px;
		width: 140px;
		margin-left: 0;
		margin-right: 0;
		height: 130px;
		z-index: 100;	
	}
		
	.navbar-nav {
		margin: 0px -15px;
	}
	
	.mobNav {
		border-bottom: 1px solid #1b1b1b;
	}
	
	.whiteBar {
		display: none;
	}
	
	.isotope-reset {
		position: relative;
		right: 0;
	}
	
	/* Adjustments to Defaults for Smaller Screens */
	.hero .container {
		padding-left: 0;
		padding-right: 0;
	}
	
	.hero ul {
		padding-left: 0;
	}
	
	.filterBtn {
		margin-top:	80px;
	}
	
	.btnIcons {
		word-wrap: break-word;
		position: relative;
		text-align: center;
	}
	
	.btnIcons > span {
		position: absolute;
		width: 100%;
		left: 0;
		right: 0;
		bottom: 4%;
	}
	
	/* Positioning of Icons for Filters on Mobile */
	.wheelchair,
	.wheelchair:hover,
	.wheelchair.selected,
	.hearing,
	.hearing:hover,
	.hearing.selected,
	.captioning,
	.captioning:hover,
	.captioning.selected,
	.signing,
	.signing:hover,
	.signing.selected,
	.autism,
	.autism:hover,
	.autism.selected,
	.audio,
	.audio:hover,
	.audio.selected {
		background-position: 50% 38%;
	}
	
	.filterResults {
		clear: both;
		margin: 35px 0;
	}
	
	.heroSmall {
		height: auto;
		padding-bottom: 50px;
	}
	
	.gridContent {
		height: auto;
	}
	
	.showTitle {
		text-align: center;
	}
	
	.homeLink {
		text-align: center;
	}
	
	.socialBorder {
		border-right: 0;
		border-bottom: 1px solid #000;
		padding-bottom: 20px;
		margin-bottom: 20px;
	}
	
	.socialSharing {
		text-align: center;
	}
	
	.socialSharing > a {
		display: inline-block;
		margin: 20px;
	}
	
	
	/* Footer Styles */
	footer .copyright {
		position: relative;
		bottom: 0;
		margin-top: 50px;
		text-align: left;
	}
}


/* Sm Devices, Portrait Phone */
@media only screen and (min-width: 461px) and (max-width: 767px) {
	
	#navbar {
		width: 110%;
		float: right;
		height: 130px;
		text-align: right;
		z-index: 50;
	}
	
	.headerRight {
		width: 75%;
	}
	
	.headerRight p {
		font-size: 11px;
		padding-bottom: 6px;
	}
	
	.gridImg {
		height: 140px;	
	}
	
	.wideIcon {
		height: 160px;
	}
	
	/* Icons */
	.gridImg > img {
		max-width: 15%;
	}

	.wideIcon > img {
		max-width: 30%;
	}
	
	.mediaBlock {
		max-width: 70%;
		margin: 6px auto;
	}

}


/* Md Devices, Landscape Tablet */
@media only screen and (max-width: 991px) {
	
	/* Removes Horizontal Scroll Bars on small screens */
	.row {
		margin-right: 0px;
		margin-left: 0px;
	}
		
	.borderBottom {
		padding-bottom: 30px;
		margin-bottom: 30px;
		border-bottom: 1px solid #101010;
	}
	
	.rightSideLinks {
		padding-right: 0px;
	}
	
	.textControls {
		right: 30px;
	}
	
	.heroSmall {
		padding: 100px 0 50px;
	}
	
	.pagination a {
		font-family: 'Montserrat', sans-serif;
		font-size: 10px;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 0;
		color: #fff;
		transition: color 0.3s linear;
	}
}

/* Md Devices, Landscape Tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	
	#navbar {
		width: 44%;
	}
	.navbar-brand, .navbar-nav > li > a {
		font-size: 11px;
	}
	
	.nav > li > a {
		padding: 15px 12px;
	}
	
	.whiteBar {
		font-size: 14px;
	}
	
	.headerRight p {
		font-size: 10px;
	}
	
	.filterCalendar {
		margin-top: 26.5%;
	}
	
	/* Change Filter Buttons from 3Up to 2Up*/
	.filterBtn > .col-sm-4 {
		width: 50%;
	}
	.filterBtn {
		margin-top:	80px;
	}
	
	.searchShows {
		top: 320px;
	}
	
	.btnIcons {
		position: relative;
		text-align: center;
	}
	
	.btnIcons > span {
		position: absolute;
		font-size: 8px;
		word-wrap: break-word;
		width: 100%;
		left: 0;
		right: 0;
		bottom: 4%;
	}
	.isotope-reset {
		top: -100px;
		right: -290%;
	}
	/* Positioning of Icons for Filters on Mobile */
	.wheelchair,
	.wheelchair:hover,
	.wheelchair.selected,
	.hearing,
	.hearing:hover,
	.hearing.selected,
	.captioning,
	.captioning:hover,
	.captioning.selected,
	.signing,
	.signing:hover,
	.signing.selected,
	.autism,
	.autism:hover,
	.autism.selected,
	.audio,
	.audio:hover,
	.audio.selected {
		background-position: 50% 38%;
		background-size: 60%;
	}
	
	.filterResults {
		clear: both;
		margin: 90px 15px 35px -15px;
	}
}



/* Lg Devices (992px and up) */
@media only screen and (min-width: 992px) {
	
	/* Increase Height of Grid on "How It Works" Page */
	.gridContent {
		min-height: 500px;
		height: auto;
	}
	
	#reportrange,
	#singledate {
		width: 90%;
	}
}


/* Md Devices, Landscape Tablet */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	
	#navbar {
		width: 38%;
	}
	
	/* Change Filter Buttons from 3Up to 2Up*/
	.filterBtn > .col-sm-4 {
		width: 50%;
	}
	
	.filterCalendar {
		margin-top: 20.7%;
		border-radius: 8px;
		background-color: #ffffff;
		min-height: 326px;
		height: auto;
	}
	
	.filterBtn {
		margin-top:	80px;
	}
	
	.btnIcons {
		position: relative;
		text-align: center;
	}
	
	.btnIcons > span {
		position: absolute;
		width: 100%;
		left: 0;
		right: 0;
		bottom: 4%;
	}
	
	.isotope-reset {
		top: -160px;
		right: -244%;
	}
	
	/* Positioning of Icons for Filters on Mobile */
	.wheelchair,
	.wheelchair:hover,
	.wheelchair.selected,
	.hearing,
	.hearing:hover,
	.hearing.selected,
	.captioning,
	.captioning:hover,
	.captioning.selected,
	.signing,
	.signing:hover,
	.signing.selected,
	.autism,
	.autism:hover,
	.autism.selected,
	.audio,
	.audio:hover,
	.audio.selected {
		background-position: 50% 38%;	
	}
	
	.filterResults {
		clear: both;
		margin: 90px auto 35px;
	}
}












